<!--Todo codigo html 5 começa com essa tag-->

<!-- Isoo é uma tag html (<html></html>)-->

<!--Toda tag aberta devera ser fechada -->

<!--Dentro da tag são colocadas as informações-->

<!--Tags importantes !
Corpo Body :
 Todo conteudo visivel dentro de uma pagina é feito dentro do body

 Head:
 Na tag head são colocadas as configurações do documento

 HTML O QUE É
 HyperText
      HiperTexto = È uma pagina que vai te levar para outra pagina
 Markup
   Marcação

Language
  Linguagem

  Colocando um "!" no começo vai ser dado uma estrutura feita para voce colocar suas informações

  Usamos "." para acessar uma classe e "#" Um id .

        Obs: Html não é programação é uma linguagem de marcação de HiperTexto
-->


<!DOCTYPE html>
<html lang="pt_br   ">
<!-- Lang é um atributo -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma online de trabalhos</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">

    <link rel="stylesheet" href="/styles/partials/page-landing.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">


</head>

<body id="page-landing">

    <div id="container">

        <div class="logo-container">

            <img src="/images/logo.svg" alt="Proffy">

            <h2>Sua plataforma de estudos online</h2>

        </div>


        <img class="hero-image" src="/images/landing.svg" alt="plataforma de estudos">

        <div class="buttons-container">

            <a class="study" href="/study">

            <img src="/images/icons/study.svg" alt="Estudar">
            Estudar

            </a>
            <a class="give-classes" href="/give-classes">

                <img src="/images/icons/give-classes.svg" alt="Dar Aulas">
                Dar aulas

                </a>


        </div>

        <p class="total-connections">
            Total de 200 conexões já realizadas
            <img src="/images/icons/purple-heart.svg" alt="coração roxo">
        </p>

    </div>

</body>

</html>
